<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Pamphlet</a>


    <%= form_with url: "/books", method: :get, class: "d-flex" do |form| %>

      <%= form.text_field :query , class: "form-control me-2" %>
      <%= form.submit "Search", class: "btn btn-outline-secondary" %>
    <% end %>
    

  </div>
</nav>
