

<div class="container  ">

<% if (@books.length != 0) %>

    <h1>Showing results for "<%= @query %>" </h1>

<% else %>

    <h1>No results found <h1>

<% end %>


    <div class="row">
    <div class="col" >
        <div class="card-group">
            
        <% @books.each do |book| %>

            <%= render partial: "card", locals: { book: book } %>

        <% end %>
    </div>
    </div>    
    </div>
</div>



