<div class="container-fluid">
	<div class="row">

		<%= react_component("BookDetails", { book: @book, preview: @preview, author: @author, books: @suggestions, reviewComments: @reviews, currentUser: current_user, bookId: @id }) %>



	</div>

</div>