// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$star-rating-color: #d6b853;

.star-rating {
    color: $star-rating-color;
}


.starRadio {
    display: none;
}